.video-background {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 ratio */
    height: 60vh;
    /* Set the height in vh units */
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Prevent video interaction */
}

.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}


#main-menu{
    background-color: #000;
    
}

#main-menu ul {
    gap: 3rem;
    list-style: none;
}
a{
    color: antiquewhite;
}